<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header/header :: header" />
<body>
<div th:replace="menu/menu :: menu" />
    <div class="container-fluid py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <h3>New task</h3>
            <div class="card">
                <div class="card-body">
                    <div class="col-md-10">
                        <form action="#" th:action="@{/createTask}" th:object="${task}" method="post">
                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" th:field="*{title}" class="form-control" id="title" />
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea type="text" th:field="*{description}" class="form-control" id="description" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <input type="hidden" id="id" th:field="*{taskId}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>