<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header/header :: header" />
<body>
<div th:replace="menu/menu :: menu" />
<div class="container-fluid py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <h3>New task</h3>
        <div class="card">
            <div class="card-body">
                <div th:switch="${tasks}" class="container my-5">
                    <p class="my-5">
                        <a class="btn btn-primary" href="/edit" role="button">New Task</a>
                    </p>
                    <div class="col-md-10">
                        <h2 th:case="null">No task found!</h2>
                        <div th:case="*">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scole="col">#</th>
                                        <th scole="col">Title</th>
                                        <th scole="col">Description</th>
                                        <th scole="col">Edit</th>
                                        <th scole="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="task : ${tasks}">
                                        <td scope="row" th:text="${task.taskId}"></td>
                                        <td th:text="${task.title}"></td>
                                        <td th:text="${task.description}"></td>
                                        <td>
                                            <a th:href="@{/edit/{taskId}(taskId=${task.taskId})}" class="btn btn-primary">
                                                <i class="fas fa-edit ml-2"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a th:href="@{/delete/{taskId}(taskId=${task.taskId})}" class="btn btn-primary">
                                                <i class="fas fa-trash-alt ml-2"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>